* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
div[dock] {
  border:solid 1px lightgray;
}


.dock-top {
  margin-bottom: 5px;

  &[dock-resizable] {
    border-bottom-width: 4px;

    .dock-resize-handle {
      bottom: -8px;
      height: 8px;
      width: 100%;
    }
  }

  &[dock-collapsible] {
    border-bottom-width: 8px;

    .dock-collapse-handle {
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
      height: 6px;
      width: 60px;
      background-color: white;
      cursor: pointer;

      &::before {
        content: '----';

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1px;

        font-size: 16px;
        font-weight: bold;
        line-height: 6px;

        color: gray;
      }
    }
  }

  // let resizable be the final word on border color
  &[dock-resizable] {
    border-bottom-color: lightblue;
  }
}


.dock-bottom {
  margin-top: 5px;

  &[dock-resizable] {
    border-top-width: 4px;

    .dock-resize-handle {
      top: -8px;
      height: 8px;
      width: 100%;
    }
  }

  &[dock-collapsible] {
    border-top-width: 8px;

    .dock-collapse-handle {
      top: -7px;
      left: 50%;
      transform: translateX(-50%);
      height: 6px;
      width: 60px;
      background-color: white;
      cursor: pointer;

      &::before {
        content: '----';

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1px;

        font-size: 16px;
        font-weight: bold;
        line-height: 6px;

        color: gray;
      }
    }
  }

  // let resizable be the final word on border color
  &[dock-resizable] {
    border-top-color: lightblue;
  }
}


.dock-left {
  margin-right: 5px;

  &[dock-resizable] {
    border-right-width: 4px;

    .dock-resize-handle {
      right: -8px;
      width: 8px;
      height: 100%;
    }
  }

  &[dock-collapsible] {
    border-right-width: 8px;

    .dock-collapse-handle {
      right: -7px;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 60px;
      background-color: white;
      cursor: pointer;

      &::before {
        content: '----';

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1px;

        font-size: 16px;
        font-weight: bold;
        line-height: 6px;

        color: gray;
      }
    }
  }

  // let resizable be the final word on border color
  &[dock-resizable] {
    border-right-color: lightblue;
  }
}


.dock-right {
  margin-left: 5px;

  &[dock-resizable] {
    border-left-width: 4px;

    .dock-resize-handle {
      left: -8px;
      width: 8px;
      height: 100%;
    }
  }

  &[dock-collapsible] {
    border-left-width: 8px;

    .dock-collapse-handle {
      left: -7px;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 60px;
      background-color: white;
      cursor: pointer;

      &::before {
        content: '----';

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1px;

        font-size: 16px;
        font-weight: bold;
        line-height: 6px;

        color: gray;
      }
    }
  }

  // let resizable be the final word on border color
  &[dock-resizable] {
    border-left-color: lightblue;
  }
}





/* specific docks */
#top1 {
  height: 100px;
}
#top1[dock-resizable] {
  min-height: 30px;
  max-height: 30%;
}


#left2 {
  width: 25%;
}

[id='#bottom2.1'] {
  height: 80px;
}


#top3 {
  height: 80px;
}


#bottom4 {
  height: 100px;
}
#bottom4[dock-resizable] {
  min-height: 5em;
  max-height: 40%;
  transition: max-height 0.25s ease-in;
}


#right5 {
  width: 140px;
}


#top6 {
  height: 80px;
}


[id='bottom7.1'] {
  height: 90px;
}

[id='right7.2'] {
  width: 140px;
}

